{% extends '../../layout.twig' %}

{% block content %}
    <h1>Search results for "{{ data.query|escape('html') }}"</h1>

    {% for result in data.results %}
        {# Output of search results. #}
    {% else %}
        <p>No result found.</p>
    {% endfor %}
{% endblock %}
