.grid {
    display: grid;
    grid-gap: 10px;
}

.grid_cols_0 {
    grid-template-columns: auto;
}

.grid_cols_3 {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 700px) {
    .grid_cols_3 {
        grid-template-columns: auto;
    }
}
