{% extends '../../../../../views/layout.twig' %}

{% import '../../blocks/user/index.twig' as user %}
{% import '../../../../../views/blocks/grid/index.twig' as grid %}
{% import '../../../../../views/blocks/link-to-json/index.twig' as linkToJson %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>Users {{ linkToJson.render(path('users_json')) }}</h1>

    {% if (data.users|length > 0) %}
        {{ grid.start() }}
            {% for userParams in data.users %}
                {{ user.render(userParams, {
                    size: 's',
                    withLink: true,
                }) }}
            {% endfor %}
        {{ grid.end() }}
    {% else %}
        <p>No users found.</p>
    {% endif %}
{% endblock %}
