{% extends '../../../../../views/layout.twig' %}

{% import '../../blocks/user/index.twig' as user %}

{% block content %}
    <h1>User</h1>

    <p>
        <a href="{{ path('user_json', { id: data.user.id }) }}">See JSON</a>
    </p>

    {% if data.user %}
        {{ user.render(data.user) }}

        {% if data.user.posts %}
            <h4>Last posts</h4>

            <ol>
                {% for post in data.user.posts %}
                    <li>
                        <time>
                            {{- date(post.datetime)|date('D, j M Y G:i') -}}
                        <time>

                        <p>
                            {{- post.description -}}
                        </p>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    {% else %}
        <p><em>User not found.</em></p>
    {% endif %}
{% endblock %}
