.search-form {
    display: flex;
}

.search-form__button {
    display: block;
    width: 30px;
    position: relative;
    padding: 0;
    background-image: url(blocks/search-form/images/loupe-icon.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.search-form__button:focus {
    z-index: 1;
}

.search-form__button::before {
    display: block;
    padding-top: 100%;
    content: '';
}

.search-form__input {
    position: relative;
    padding: 0 10px;
    background-color: #fff;
    border: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.search-form__input:focus {
    z-index: 1;
}

.search-form__input::placeholder {
    color: #93959a;
    font-size: 14px;
    line-height: 20px;
}
