<form action="{{ path('search') }}" class="search" method="post">
    <button aria-label="Найти" class="search__button" type="submit"></button>

    <input class="search__input" name="query" placeholder="Найти" value="{{ data.query|default('') }}">
</form>
