{% set menu = [
    {
        label: 'Users',
        name: 'users',
        children: [
            'user',
        ],
    },
    {
        label: 'Posts',
        name: 'posts',
        children: [
            'post',
        ],
    },
] %}

<nav class="menu">
    <ul class="menu__items-list">
        {% for item in menu %}
            {% set isCurrent = (item.name == __route.name or (__route.name in item.children)) %}

            {% set itemClass %}
                {{- [
                    'menu__item',
                    isCurrent ? 'menu__item_active' : '',
                ]|join(' ')|trim -}}
            {% endset %}

            <li class="{{ itemClass }}">
                {% set href %}
                    {%- if (not isCurrent) %} href="{{ path(item.name) }}"{% endif -%}
                {% endset %}

                <a class="menu__link"{{ href }}>
                    {{- item.label -}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
