{% set menu = {
    main: {
        label: 'Main',
    },
    users: {
        label: 'Users',
    },
    posts: {
        label: 'Posts',
    },
} %}

<nav>
    <ul>
        {% for name, item in menu %}
            <li>
                {% set href %}
                    {%- if (name != __route.name) %} href="{{ path(name) }}"{% endif -%}
                {% endset %}

                <a{{ href }}>
                    {{- item.label -}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
