{% set menu = {
    users: {
        label: 'Users',
    },
    posts: {
        label: 'Posts',
    },
} %}

<nav class="menu">
    <ul class="menu__items-list">
        {% for name, item in menu %}
            {% set isCurrent = (name == __route.name) %}

            {% set itemClass %}
                {{ [
                    'menu__item',
                    isCurrent ? 'menu__item_active' : '',
                ]|join(' ')|trim }}
            {% endset %}

            <li class="{{ itemClass }}">
                {% set href %}
                    {%- if (not isCurrent) %} href="{{ path(name) }}"{% endif -%}
                {% endset %}

                <a class="menu__link"{{ href }}>
                    {{- item.label -}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
