.logo {
    display: block;
    height: 70px;
    margin-bottom: 30px;
    background-image: url(blocks/logo/images/logo.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 15px;
}
