{% extends '../../../../../views/layout.twig' %}

{% import '../../blocks/post/index.twig' as post %}
{% import '../../../../../views/blocks/grid/index.twig' as grid %}
{% import '../../../../../views/blocks/linkToJson/index.twig' as linkToJson %}

{% block content %}
    <h1>Posts {{ linkToJson.render(path('posts_json')) }}</h1>

    {% if data.posts %}
        {{ grid.start({ cols: 3 }) }}
            {% for postParams in data.posts %}
                {{ post.render(postParams) }}
            {% endfor %}
        {{ grid.end() }}
    {% else %}
        <p>No posts found.</p>
    {% endif %}
{% endblock %}
