{% spaceless %}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="/static/build/styles.css">
    </head>

    <body class="layout">
        <aside class="layout__column-left">
            {% include './blocks/logo/index.twig' %}

            {% include './blocks/menu/index.twig' %}
        </aside>

        {% include './blocks/header/index.twig' %}

        <main class="layout__content">
            {% block content %}{% endblock %}
        </main>

        {% include './blocks/footer/index.twig' %}
    </body>
</html>
{% endspaceless %}
