.footer {
    margin-left: 30px;
    color: #93959a;
    font-size: 11px;
    line-height: 16px;
    grid-area: footer;
}

.footer__content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
