<header class="header">
    <div class="header__search">
        {% include '../search-form/index.twig' with {
            query: query,
        } %}
    </div>

    <div class="header__current-user">
        {% render '../../../modules/Users/controllers/currentUserController' with {
            template: '../../../modules/Users/views/blocks/current-user/index.twig',
        } %}
    </div>
</header>
